.select2-selection__choice {
    background-color: #0E1112 !important;
}

.container_image_detail, .container_feature_image {
    margin-top: 20px;
}

.alert-danger {
    background-color: #f4f6f9;
    color: red;
    border-color: #f4f6f9;
    padding: 1px;
    margin-top: 5px;
}
